<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}
<strong>It gets 2 array lists and 2 indexes.
It will try to compare the elements (first index will match with first arraylist, second index will match with second arraylist).
If elements are equal, it will return true, otherwise false.
Integers can be seperated by newline character.</strong>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="1" cols="5"></textarea>
        <textarea name="input4" rows="1" cols="5"></textarea>
        <br>
        <input type="submit">
  </form>
